{% extends 'base.html' %}
{% block title%}Opis Projektu{% endblock %}
{% block content%}
  <div class="container mt-4">
    <section id="cel-aplikacji">
      <h2>Cel aplikacji</h2>
      <p>Misją tej aplikacji jest gromadzenie recenzji dotyczących produktów z serwisu Ceneo.pl. W przypadku podanego jako parametr kodu produktu, aplikacja ma na celu pozyskanie nazwy tego produktu oraz wszystkich dostępnych opinii na jego temat.</p>
    </section>

    <section id="opis-aplikacji">
      <h2>Opis aplikacji</h2>
      <p>Aplikacja przyjmuje wprowadzony numer identyfikacyjny produktu i wykorzystuje go do pobrania wszystkich danych związanych z tym produktem. Następnie aplikacja umieszcza te dane na stronie internetowej.</p>
    </section>

    <section id="biblioteki">
      <h2>Zastosowane biblioteki</h2>
      <ul class="list-group">
        <li class="list-group-item">Requests</li>
        <li class="list-group-item">BeautifulSoup4</li>
        <li class="list-group-item">Json</li>
        <li class="list-group-item">Os</li>
        <li class="list-group-item">Pandas</li>
        <li class="list-group-item">Flask</li>
        <li class="list-group-item">jquery</li>
      </ul>
    </section>

    <section id="podejscia">
      <h2>Zastosowane podejscia</h2>
      <p>Zastosowane podejscia</p>
    </section>
  </div>
{% endblock %}