{% extends 'base.html' %}
{% block title %}Lista produktow{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Lista produktów</h2>

    <ul class="list-group">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h5>Produkt 1</h5>
          <div>
            <span class="badge bg-secondary">Liczba opinii: 10</span>
            <span class="badge bg-danger">Liczba wad: 5</span>
            <span class="badge bg-success">Liczba zalet: 7</span>
            <span class="badge bg-primary">Średnia ocena: 4.5</span>
          </div>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-primary">Pobierz opinie (CSV)</a>
          <a href="#" class="btn btn-primary">Pobierz opinie (XLSX)</a>
          <a href="#" class="btn btn-primary">Pobierz opinie (JSON)</a>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h5>Produkt 2</h5>
          <div>
            <span class="badge bg-secondary">Liczba opinii: 5</span>
            <span class="badge bg-danger">Liczba wad: 2</span>
            <span class="badge bg-success">Liczba zalet: 3</span>
            <span class="badge bg-primary">Średnia ocena: 4.2</span>
          </div>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-primary">Pobierz opinie (CSV)</a>
          <a href="#" class="btn btn-primary">Pobierz opinie (XLSX)</a>
          <a href="#" class="btn btn-primary">Pobierz opinie (JSON)</a>
        </div>
      </li>
    </ul>
{% endblock %}