{% extends 'base.html' %}
{% block title %}Produkt{% endblock %}
{% block content %}
<h3>{{product_code}}</h3>
 <div class="container mt-4">
    <h2>Tabela opinii</h2>

    <div class="mb-3">
      <input type="text" class="form-control" id="filterInput" placeholder="Filtruj...">
    </div>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nazwa użytkownika</th>
          <th>Ocena</th>
          <th>Treść</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Użytkownik 1</td>
          <td>4.5</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Użytkownik 2</td>
          <td>3.8</td>
          <td>Praesent auctor metus et lectus tincidunt, vitae vulputate elit lobortis.</td>
        </tr>
      </tbody>
    </table>

    <div class="mt-2">
      <a href="#" class="btn btn-primary">Pobierz opinie (CSV)</a>
      <a href="#" class="btn btn-primary">Pobierz opinie (XLSX)</a>
      <a href="#" class="btn btn-primary">Pobierz opinie (JSON)</a>
    </div>

    <div class="mt-4">
      <a href="wykresy.html" class="btn btn-secondary">Wyświetl wykresy</a>
    </div>

  </div>
{% endblock %}
{% block script %}
{% endblock %}